*
{
    margin: 0;
    padding: 0;
    font-family: 'Amaranth', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    background-color: #FFF5E1;
}

.mainContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    /* height: 80vh; */
}

.logoContainer
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.searchFieldContainer
{
    margin-left: 35px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.searchField
{
    min-width: 300px;
    min-height: 30px;
    width: 300px;
    height: 30px;
    border-radius: 12px 0 0 12px;
    border: 1px solid #ccc;
    border-right: none;
    outline: none;
    padding-left: 12px;
    padding-right: 12px;
}

.searchField:focus
{
    border: 1px solid #F36422;
    border-right: none;
}

.searchField:focus + .searchButton
{
    border: 1px solid #F36422;
    border-left: none;
    background-color: #F36422;
}

.searchButton
{
    min-width: 30px;
    width: 30px;
    min-height: 30px;
    height: 30px;
    border-radius: 0 12px 12px 0;
    outline: none;
    border: 1px solid #ffb08b;
    border-left: none;
    background-color: #ffb08b;
}

.searchButton:hover
{
    border: 1px solid #F36422;
    border-left: none;
    background-color: #F36422;
}

.resultsContainer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-top: 10px;
    background-color: #f4a19b6b;
    background-color: #f364222f;
    border-radius: 12px;
}

.recipeCardContainer
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 620px;
    min-width: 620px;
    max-width: 750px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.recipeImage
{
    min-width: 180px;
    width: 180px;
    height: 150px;
    border-radius: 12px;
}

/* .recipeImage:hover
{
    border: 4px solid #F36422;
} */

.recipeCardContainer:hover .recipeTitle
{
    color: #F36422;
}

.recipeTitle
{
    font-weight: bold;
}

.recipeScoreContainer
{
    display: flex;
    align-items: center;
}

.recipeScoreIcon
{
    width: 30px;
    margin-right: 10px;
}

.recipeConditionIcon
{
    width: 20px;
    margin-right: 10px;
}

.recipeConditionText
{
    margin-right: 10px;
    white-space: nowrap;
}

.conditionsSubContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recipeConditionContainer
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.recipeCardInfoContainer
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100%;
    margin-left: 30px;
    width: 50%;
}

hr
{
    border: none;
    height: 1px;
    width: 85%;
    margin-left: 30px;
    margin-top: 20px;
    background: #f4a19bbe;
    background: #f364225b;
    background: #F36422;
}

.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.noResultsText
{
    color: #F36422;
    font-size: 1.4em;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 10px;
}

.randomButton
{
    border: none;
    color: white;
    background-color: #ffb08b;
    width: 100px;
    border-radius: 12px;
    margin-left: 20px;
}

.randomButton:hover
{
    background-color: #F36422;
}